<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}Blog Home - Start Bootstrap Template{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/myfrontend/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/myfrontend/css/blog-home.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/myfrontend/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/myfrontend/js/respond.min.js') }}"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ asset('bundles/myfrontend/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/myfrontend/js/bootstrap.min.js') }}"></script>

</head>

<body>

<!-- Navigation -->
{{ include('MyFrontendBundle:_Partial:_navigation.html.twig') }}

<!-- Page Content -->
<div class="container">

    <div class="row">


        <!-- Blog Entries Column -->
        <div class="col-md-6" style="float: none; margin: 0 auto;">

            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}



        </div>


    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    {{ include('MyFrontendBundle:_Partial:_footer.html.twig') }}

</div>
<!-- /.container -->
{% block javascriptBottom %}

{% endblock %}

</body>

</html>
